<div class='flex flex-col items-center mt-32 h-screen'>
  <h1
    class='text-5xl font-bold py-2 bg-gradient-to-br from-blue-400 to-pink-400 text-transparent bg-clip-text'
  >Welcome to Typenotes</h1>
  <p class='text-xl mt-2 text-slate-500'>A simple note taking app</p>

  <a
    id='get-started'
    href='/notes'
    class='mt-20 bg-gradient-to-br hover:scale-110 shadow-md hover:shadow-xl from-blue-400 to-pink-400 text-white text-lg py-2 px-4 rounded-full transition-all duration-300'
  >
    Get Started
  </a>
</div>